@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #384455;
  --blockground: 177,174,255;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #384455;
    --foreground: #ededed;
    --blockground: 177,174,255;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
