@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #384455;
  --blockground: 177,174,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #384455;
    --foreground: #ededed;
    --blockground: 177,174,255;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-glow {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgb(239, 239, 241), 0 0 10px rgba(207, 206, 230), 0 0 20px rgb(226, 225, 236);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 5px rgb(207, 206, 230), 0 0 10px rgb(215, 215, 231), 0 0 20px rgb(200, 199, 231);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite;
}