@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #384455;
  --blockground: 245, 158, 11;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #384455;
    --foreground: #ededed;
    --blockground: 245, 158, 11;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
